* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.mobile-menu {
    position: absolute;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 300px;
    position: fixed;
    right: -300px;
    display: none;
    flex-direction: column;
    transition: 250ms all cubic-bezier(0.215, 0.610, 0.355, 1);
}
.mobile-menu img {
    margin: 0.3rem 1.5rem;
    position: absolute;
    right: 0;
    z-index: 10;
}
.mobile-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}
.mobile-menu ul li{
    color: black(255, 255, 255);
    list-style: none;
    padding: 0.8rem 2rem ;
    border: 1px solid black;
    transition: 250ms all cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 3px;
    cursor: pointer;
}
.mobile-menu ul li:hover{
    color: white;
    list-style: none;
    padding: 0.8rem 2rem ;
    border: 1px solid black;
    background-color:black;
}
a {
    text-decoration: none;
    color: black
}
nav {
    position: fixed;
    width: 100%;
    height: 40px;
    background: rgb(52,51,66);
    background: linear-gradient(90deg, rgba(52,51,66,1) 0%, rgba(8,8,11,1) 41%, rgba(12,92,108,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.nav-left {
    margin: 0 0 0 1rem;
    cursor: pointer;
    color: white;
    font-size:20px;
    letter-spacing: 1.4px;
    font-weight: 200;
    font-family: 'Kaushan Script', cursive;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-right: 3rem;
    list-style: none;
    cursor: pointer;
    color: white;
}
.humberger {
    display: none;
    flex-direction: column;
    width: 27px;
    height: 40px;
    justify-content: space-evenly;
    margin-right: 2rem;
}
.humberger img{
    height: 30px;
    width: 30px;
}
.first,.second,.therd{
    width: 100%;
    height: 3px;
    color: rgb(255, 255, 255);
    background-color:#fff;
}
.container1 {
    background-image: url("./image/big.jpg");
    height: 961px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 200px;
    top: 250px;
    width: 500px;
    height: 400px;
}
.page1-text span{
    color: rgb(189, 6, 6);
}
.page1-p{
    color: rgb(240, 240, 240);
    font-size:1.2rem;
}
.page1-h1 {
    color: #fff;
    font-size:4rem;
    font-weight:600;
}
.page1-text {
    color:#fff;
    font-size:2rem;
}
.back {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 961px;
}
.container2 {
    background-image: url('./image/pexels-rost.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 910px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.back2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 910px;
    z-index: 1;
}
.projects {
    justify-content: center;
    display: grid;
    width: 85%;
    height: 910px;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 1fr 1fr 1fr;
    margin: 2% 0;
    border-radius: 5px;
    z-index: 2;
    margin-top: 7rem;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: rgb(141, 40, 40) green;
    scrollbar-width: thin;
}
.product {
    position: absolute;
    margin-top:1rem;
    font-size: 3rem;
    border: 1px solid white;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 5px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-0%);
    z-index: 2;
}
.container2 .projects a img {
    width: 100%;
    background-size: cover;
    height: 100%;
    border-radius: 5px;
}
.container3 {
    background-image: url('./image/728101.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.back3 {
    width: 100%;
    height: 910px;
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    z-index: 1;
}
.skil {
   margin-top:1rem;
   font-size: 3rem;
   border: 1px solid white;
   padding: 0.5rem 1.5rem;
   color: white;
   border-radius: 5px;
   z-index: 2;
}
.skills {
    width: 85%;
    height: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    z-index: 2;
}
.pt {
    color: white;
    width: 80%;
    height: 40px;
    min-width: 300px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
}
.wid {
    width:100px;
}
.ptlt {
    position: relative;
    width: 80%; 
    justify-content: center;
    border-radius:2px;
    padding: 2px 0;
    overflow: visible;
}
.bar {
    width: 100%;
    background-color: rgb(10, 95, 95);
    border-radius: 25px;    
    height: 19px;
}
.bar:after {
    content: "";
    position: absolute;
    top: calc(0 );
    left: 0;
    width: 0%;
    height: 15px;
    background-color: aqua;
    border-radius: 25px;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.bar.html::after {
    animation-name: html;
}
.bar.css::after {
    animation-name: css;
}
.bar.js::after {
    animation-name: js;
}
.bar.rect::after {
    animation-name: rect;
}
.bar.jq::after {
    animation-name: jq;
}
.bar.php::after {
    animation-name: php;
}
.bar.mysql::after {
    animation-name: mysql;
}
.bar.sql::after {
    animation-name: sql;
}
.bar.mongodb::after {
    animation-name: mongodb;
}
.bar.PosgreSQL::after {
    animation-name: PosgreSQL;
}
.bar.oracle::after {
    animation-name: oracle;
}
.bar.git::after {
    animation-name: git;
}

@keyframes html {
    to{
        width: 95%;
    }
}
@keyframes css {
    to{
        width: 90%;
    }
}
@keyframes js {
    to{
        width: 85%;
    }
}
@keyframes rect {
    to{
        width: 80%;
    }
}
@keyframes jq {
    to{
        width: 75%;
    }
}
@keyframes php {
    to{
        width: 50%;
    }
}
@keyframes mysql {
    to{
        width: 80%;
    }
}
@keyframes sql {
    to{
        width: 80%;
    }
}
@keyframes mongodb {
    to{
        width: 70%;
    }
}
@keyframes PosgreSQL {
    to{
        width: 70%;
    }
}
@keyframes oracle {
    to{
        width: 65%;
    }
}
@keyframes git {
    to{
        width: 85%;
    }
}
.container4 {
    background-image: url('./image/cccc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.back4 {
    width: 100%;
    height: 910px;
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    z-index: 0;
}
.about {
    position: absolute;
    margin-top:1rem;
    font-size: 3rem;
    border: 1px solid white;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 5px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-0%);
    z-index: 3;
}
.about-text {
    max-width: 450px;
    min-width: 300px;
    width: 80%;
    margin: 8rem 0 0 0;
    background-color:rgb(255, 255, 255);
    z-index: 1;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
}
.firstp, .secondp {
    margin: 1rem 0 0 0;
    color: black;
    line-height: 30px;
    letter-spacing: 1.5px;
    font-size: 15px
}
form {
    background-color: aqua;
    z-index: 2;
    max-width: 450px;
    min-width: 300px;
    width: 80%;
    margin: 2rem 0 0 0;
    background-color:rgb(255, 255, 255);
    z-index: 1;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    margin: 0.6rem 0 0 0;
    width: 80%;
    padding: 0.5rem 0.5rem;
    text-transform: capitalize;
    border: 1px solid black;
}
textarea {
    margin: 0.6rem 0 0 0;
    width: 80%;
    padding: 0.5rem 0.5rem;
    text-transform: capitalize;
    border: 1px solid black;
    resize: none;
}
.textc {
    width: 80%;
    height: 150px;
}
footer {
    width: 100%;
    display: flex;
    height: 250px;
    background: rgb(52,51,66);
    background: linear-gradient(90deg, rgba(52,51,66,1) 0%, rgba(8,8,11,1) 41%, rgba(12,92,108,1) 100%);
    padding: 3rem;
    align-items: center;
    position: relative;
}
.icons-right {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    grid-template-rows:  1fr 1fr;
    gap: 25px;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}
.footer-left {
    width: 50%;
    line-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 40px;
    cursor: pointer;
}
.li {
    list-style: none;
    cursor: pointer;
    color: white;
}
.footer-name{
    cursor: pointer;
    color: white;
    font-size:20px;
    letter-spacing: 1.4px;
    font-weight: 200;
    font-family: 'Kaushan Script', cursive;
}


.bbb  {
    position: relative;
    transform: translateX(200px);
    opacity: 0;
    transition: 1.5s all ease;
}
.bbb.active{
    transform: translateX(0);
    opacity: 1;
}
.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 1.5s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
@media only screen and (max-width: 1400px) {
    .text1 {
        left: 60px;
    }
  }
@media only screen and (max-width: 870px) {
    .container1{
        background-position: right ;
    }
    .text1 {
        left: 20px;
        width: 300px;
        line-height:50px;
        flex-wrap: nowrap;
    }
    .page1-h1{
        font-size:2rem;
    }
    .page1-p{
        font-size:1rem;
    }
    .page1-text{
        font-size:1.2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .mobile-menu {
        display: flex;
    }
      .container1 {
          background-position: -800px;
      }
      .nav-right {
          display: none;
      }
      .humberger {
          display: flex;
      }
  }
  @media only screen and (max-width: 425px) {
    .ptlt {
        width: 50%;
    }
    .wid {
        width:20px;
    }
    .footer-left{
        align-items: start;
    }
  }
  @media only screen and (max-width: 400px) {
      .about-text {
          margin-top: 7rem;
      }
      form {
        margin-top: 1rem;
      }
  }